

/* ======================================== HEADER ======================================== */


/* ======================================== MIDDLE ======================================== */
.background {
	background: white;
}

.textbox, .imgbox {
	width: 50%;
	position: relative;
	float: left;
	background: white;
}

.portfolio-type {
	font-size: 90%;
}

.textbox h2 {
	font-size: 90%;

}

.textbox p {
	padding-top: 0;				/* equals top of text to top of poster */
	margin-top: 0;
}

#appolloposter {
	width: 100%;
}

.contentbox img {
	width: 100%;
}

.backbutton {

	/* removes standard link styling */
	text-decoration: none;
	color: inherit;

	clear: both;
	text-align: center;
}

.backbutton h2 {
	font-size: 250%;
	font-weight: 300;

	margin-top: 10%;
	margin-bottom: 10%;
}

.backbutton:hover {
	text-decoration: underline;
}

#temporaryspace {
	height: 500px;
}

/* ======================================== FOOTER ======================================== */
